CE_HOST=10.10.10.10
CE_USER=myUsername
CE_PASS=myPassword
LOG_PATH=C:\Users\Display2\logs
CAP_USER=myUsername
CAP_PASS=myPassword
CAP_CLIENT_ID=myClientId
CAP_Client_Secret=myClientSecret
CAP_URL = http://www.google.com
CAP_API_URL=http://www.api-url.com